@font-face {
  font-family: 'MuseoSans-300';
  src: url('MuseoSans-300.eot');
  src: url('MuseoSans-300.eot?#iefix') format('embedded-opentype'),
       url('MuseoSans-300.svg#MuseoSans-300') format('svg'),
       url('MuseoSans-300.ttf') format('truetype'),
       url('MuseoSans-300.woff') format('woff'),
       url('MuseoSans-300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

