@font-face {
  font-family: 'MuseoSlab-300';
  src: url('MuseoSlab-300.eot');
  src: url('MuseoSlab-300.eot?#iefix') format('embedded-opentype'),
       url('MuseoSlab-300.svg#MuseoSlab-300') format('svg'),
       url('MuseoSlab-300.ttf') format('truetype'),
       url('MuseoSlab-300.woff') format('woff'),
       url('MuseoSlab-300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

