/* 
   @file _slick.sass 
   @theme Local
   @description  Loads SASS files for local theme. */

$dot_size: rv(0)  // size of slider nav dots
$slide_content_margin: rv(0)


.slideshow-block, .slideshow-with-audio
  position: relative
  overflow: hidden
  width: 100%
  max-width: calc(100vw - 2.0rem) // Cheat
  height: calc(140vw * 9/16)
  
  +bp($stack)
    height: calc(70vw * 9/16)
    max-width: calc(70vw - 2.0rem) !important
  
.slideshow-with-audio
  display: flex
  flex-direction: column

.slideshow, .slick-list, .slick-track
  height: 100%
  overflow: hidden
  width: 100%
  padding-bottom: 1.5rem
  
.slideshow
  background: $black

  .slick-slide > div
    height: 100%
  
  .item
    display: flex !important
    flex-direction: column
    justify-content: stretch
    height: 100%
        
    figure
      position: relative
      height: 100%
      flex-shrink: 1
      min-height: 40%
            
      &.figure-portrait
        padding: rv(0) 0
        
        // Overlay for nav arrow background
        
      &:before
        opacity: 0
        position: absolute
        content: ''
        background: $mirror_gradient
        width: 100%
        top: 0
        left: 0
        bottom: 0
        right: 0
        pointer-events: none
        +transition(opacity,-3)
              
        +bp($stack)
          height: 100%!important
          max-height: 100%!important
      
      .slideshow-image-wrapper
        overflow: hidden
        height: 100%
          
    &.introduction
      > figure
        background-color: $clr1
        
        img
          mix-blend-mode: multiply
          filter: grayscale(100%)
          position: relative
          display: block
          background-color: transparent
                    
          &:hover
            filter: grayscale(0%)
                  
    img
      height: 100%
      object-fit: cover
      object-position: top;
      //filter: grayscale(100%)
      
      &.img-portrait
        object-fit: contain
    &.slide-fit-cover
      img
        object-fit: cover
    &.slide-fit-contain
      img
        object-fit: contain
        
    &.slide-position-top-center
      img
        object-position: top center 
    &.slide-position-center-center
      img
        object-position: center center
    &.slide-position-bottom-center
      img
        object-position: bottom center

    &.slide-position-top-left
      img
        object-position: top left 
    &.slide-position-center-left
      img
        object-position: center left
    &.slide-position-bottom-left
      img
        object-position: bottom left

    &.slide-position-top-right
      img
        object-position: top right
    &.slide-position-center-right
      img
        object-position: center right
    &.slide-position-bottom-right
      img
        object-position: bottom right
  // makes nav arrow background visible
        
  &.navHover
    .item
      figure:before
        opacity: 1

// Safari flickers when this transition is applied. So far no solution is apparent.
// This ugly hack will allow this feature to gracefully degrade on Safari.

_::-webkit-full-page-media, _:future, :root .slideshow .item figure:before
  transition: none        
        

.slide-contents
  flex-shrink: 0 
  padding: 0
  color: $white
  line-height: font-value(0)
  border-top: 6px solid $white

  h3
    display: inline
    color: $white
    font-family: $headingfont
    margin: 0 0 rv(-2) 0
    font-size: font-value(-1)
    
    +bp($stack)
      font-size: font-value(-1)
      
    a
      color: $white !important
      text-decoration: underline
      
  p
    display: inline
    font-size: font-value(-1)

// Full screen

.slideshow-fullscreen
  .slideshow
    .slick-slide > div
      height: 100%
    .slide-contents:last-child
      margin-bottom: 0
      padding-bottom: 0
    
    
// !SPLASH VERSION

#splash

  .items.single-carousel .resource
    padding-bottom: 0.5rem
    +bp($stack)
      padding-bottom: 4.5rem

  .slick-track
    background-color: $black

    +bp($small)
      border-radius: 0
  
  .slideshow-block
    border-bottom-right-radius: 0
    &:before
      content: unset

  .slideshow-block, .slideshow-with-audio
    max-width: 100%
    max-height: 100%
    border-top: 0
    
    .slideshow
      border-top: 0

  // !Splash Title Page
  
  .introduction
  
    .slide-contents
      // background: unset
      // position: absolute
      z-index: 100
      // +splash_area_title_left(70%)
      border-top: 5px solid
      background: $black
        
      h3
        text-transform: uppercase
        color: $white
        
        a
          color: $white!important
      p
        color: $white
      
  h3
    font-size: +font-value(1)
    
  .slick-dots
    display: block
    left: 0
    right: 0
    bottom: 1rem
    text-align: center
    
    li
      display: inline-block
                

// !UI CONTROLS
.fullscreen-wrapper
  position: absolute
  top: 0
  right: 0
  background-color: $black

.fullscreen-label
  text-align: left
  font-size: font-value(-2)
  line-height: font-value(-1)

.slide-fullscreen-openBtn
  justify-content: left
  color: $white
  border: 0
  border-radius: 0
  width: auto
  min-width: 7rem
  background: url(../../asset/img/svg/icons/fullscreen_white_icon.svg) no-repeat 90%
  background-size: 25px
  
  &:hover
    border: 0
    border-radius: 0
    background: url(../../asset/img/svg/icons/fullscreen_yellow_icon.svg) no-repeat 90%
    background-color: transparent
    background-size: 25px
    color: $clr2
    
.slide-fullscreen-closeBtn
  position: absolute
  top: 0
  right: 0
  color: $white
  border-radius: 100px
  background: $black
  color: $clr2
  border: 2px solid $clr2
  width: 30px
  min-width: auto
  height: 30px
  margin: 10px
  padding: 0
  &:hover
    border: 2px solid $black
    background: $clr2
    color: $black

.slideshow-block, .slideshow-with-audio
  border-bottom-right-radius: $borderRadius
  position: relative
  border-top: rv(0) solid $black
  
  .slideshow
    border-top: 6px solid $white
  
// !Slick Controls

.slick-prev, .slick-next
  position: absolute
  width: 1.5rem
  height: 1.5rem
  top: unset
  bottom: 0
  z-index: 1000
  cursor: pointer
  margin: 0
  &::before, &::after
    position: absolute
    top: 0
    left: 0
    font-family: 'Font Awesome 5 Free'
    font-size: 1.5rem
    line-height: 1.5rem
    font-weight: bold
    color: $white
  &:hover::before, &:hover::after
    color: $clr2
  &:focus
    top: unset
    
.slick-prev
  left: 1rem
  &::before
    content: '\f0a8'
  
.slick-next
  left: 5.075rem
  &::after
    right: 0
    left: unset
    content: '\f0a9'

.slick-dots
  position: absolute
  text-align: right
  height: $dot_size
  width: 100%
  column-count: unset
  top: initial
  bottom: 0.5rem
  right: 0
  padding: 0
  z-index: 100
  margin: 0
  display: flex
  justify-content: flex-end

  li 
    button 
      min-width: 4rem
      .slick-dot-icon
        opacity: 0.75
        &:before
          top: -2rem
          content: "\25cb"
          color: $white
          font-size: 4.5rem
          line-height: 0
    &.slick-active
      button .slick-dot-icon
        &:before        
          margin: 0
          color: $clr2
          font-size: 4.5rem

.slideshow-block
  .slick-track
    padding-bottom: 0
  .slide-contents
    padding: 1rem 1rem 0 1rem
    h3
      font-size: 2rem
      line-height: normal
      a
        color: $white
    p
      display: block
      margin-left: 1.25rem
      font-size: 1rem
      &:last-of-type
        margin-bottom: 0
  .slick-dots
    li 
      button
        min-width: 2rem
        .slick-dot-icon
          &:before
            top: 0.5rem
            font-size: 3rem
      &.slick-active
        button .slick-dot-icon
          &:before        
            font-size: 3rem

.slick-autoplay-toggle-button
  z-index: 1000
  bottom: 12px
  left: 2.75rem
  width: auto
  height: 24px
  min-width: auto
  padding: 8px 7px 3px 8px
  opacity: 1
  background-color: $white
  color: $black
  border-radius: 4px
  &:hover,
  &:active,
  &:focus
    background-color: $clr2
    border: none
    color: $black

  &.left
    &:after
      background: $rtl_dark_gradient

// !AUDIO PLAYER
.audio-controls > .audio-player > .media-render > audio
  display: none
.audio-controls
  width: 100%
  background: #34423D
  color: $white
  border-top: rv(-5) solid $white
  margin: 0
  padding-left: 1.5rem
  padding-right: 1.5rem
  padding-top: rv(-4)
  padding-bottom: rv(-4)
  
  +bp($stack)
    display: flex
    padding-top: rv(-4)
    padding-bottom: rv(-4)
    flex-direction: row
    justify-content: flex-start
    align-content: center
    
.audio-player, .audio-player > *, .audio-caption
  display: flex
  height: 100%
  flex-direction: row
  justify-content: flex-start
  align-items: center
  margin: 0
  padding-right: rv(1)
  font-family: $headingfont
  
  a
    color: $white
    font-size: font-value(-2)
    outline: 0
    font-family: $labelfont
    font-weight: $bold
    &:hover
      color: $clr1
    &::before
      content: " "
      background: url("../../asset/img/svg/icons/sound.svg") no-repeat
      position: absolute
      width: 25px
      height: 25px
      margin-left: -34px

  
.audio-caption
  display: none
  
  +bp($stack)
    display: flex
  
  p
    margin: 0
    font-size: font-value(0)
    line-height: 1.4rem
    margin-bottom: 3px


          
            
      