/**
 * @file _linked_resources.sass
 *  @category 60_site_elements
 *  @description custom styling for linked resources */

#item-linked
  +bp($stack)
    margin: 0 1rem
  +bp($desktop)
    margin: 0

.linked-resources-entries
  margin-top: 1rem

  +bp($xs)
    column-count: 1

  +bp($small)
    column-count: 3
