.universal-viewer.viewer

  .uv-iiif-extension-host.uv-openseadragon-extension .centerPanel .content .viewer
    .adjustImage,
    .zoomIn,
    .zoomOut,
    .rotate
      min-width: unset

  .leftPanel .top .title,
  .rightPanel .top .title
    color: $white !important

  .iiif-metadata-component .groups .group .items .item .label
    color: $white !important

  a,
  a:hover,
  .iiif-metadata-component .groups .group .items .item .value a.toggle.more,
  .iiif-metadata-component .groups .group .items .item .value a.toggle.less
    color: $clr2 !important
    text-decoration: underline
  
  margin-bottom: rv(2) + rv(-4) +rv(2)

  .loaded
    max-width: unset !important
    margin: unset !important
  
  &::before
    content: ""
    // height: rv(2)
    width: 100%
    background: $black
    display: block
    margin-bottom: rv(-4)

.uv
  background-color: $black !important
  border-bottom-right-radius: $borderRadius
   
  .headerPanel
    color: $white !important
    
    .options
      background-color: neutral(95) !important
  
    
  .overlays
    background: rgba($black,0.5) !important

  .overlay.download
    width: auto !important
    .middle .content ol.options li
      button
        justify-content: flex-start
        font-size: 1rem
      a, a:hover
        color: $clr4 !important
      a:hover
        text-decoration: underline
    
  .leftPanel, .rightPanel
    background: neutral(95) !important
    
  .rightPanel
    main
      color: $white !important
    
.uv .centerPanel .content .attribution
  display: none!important
.uv .centerPanel .content .viewer .paging.btn
  min-width: auto
.uv .btn
  height: unset
  justify-content: unset
  width: unset
  min-width: unset
.uv .headerPanel .centerOptions .autocompleteText
  border: 0
  min-height: unset
  text-align: center
.uv
  a.go
    &.btn-primary
      border-color: $black
      background-color: $black

.uv .headerPanel .centerOptions .search .searchText
  text-align: center
  min-height: unset 
  
