/** 
 *  @file _feature_tiers.sass 
 *  @category 60_site_elements
 *  @theme LOCAL
 *  @description Styles the background for homepage feature tiers. */

#feature-tier-1
  background-repeat: no-repeat
  background-image: url('../img/jpg/backgrounds/bg-feature-exhibits-50.jpg')
  background-size: cover
  
#feature-tier-3
  background-repeat: no-repeat
  background-image: url('../img/jpg/backgrounds/bg-feature-collections-50.jpg')
  background-size: cover