.access-dropdown
  color: #fff
  text-align: left
  padding-right: 0
  background: black
  float: right
  width: auto
  position: absolute
  right: 0

  ul
    padding-left: 10px
    grid-template-columns: unset
    list-style-type: none
    li
      .toggle-label
        position: relative
        top: -3px
        
.access-dropdown-mobile
  color: #fff
  z-index: 99999
  text-align: right
  font-family: $headingfont
  padding-right: 0
  background: $black
  float: right
  width: 100%
  position: absolute
  +bp($stack)
    display: none
  ul
    padding-left: 10px
    grid-template-columns: unset
    list-style-type: none
  li
    .toggle-label
      position: relative
      top: -42px
  
.dark-switch 
  position: relative
  display: inline-block
  width: 40px
  height: 24px

.dark-switch input 
  opacity: 0
  width: 0
  height: 0

.access-dropdown-mobile
  > ul > li > ul > li
    line-height: font-value(1)
  > ul > li > ul > li > a 
    padding-right: rv(-1)
    font-size: font-value(-1)
    line-height: font-value(0)
  > ul > li > ul
    margin-top: rv(-4) * -1
    margin-bottom: rv(-1)
  > ul > li > a
    padding-right: rv(-1)
    font-weight: $heavy
  ul > li > ul > li > ul
    display: none
.switch-cont
  margin-left: 2.425rem!important
  margin-right: 2.425rem!important
  border-top: 2px solid $white