.introductory-text
  +fluid-type(-1,1)
  height: 100%
  margin-right: 0
  margin-left: 0
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  z-index: 2
  flex: 1
  font-weight: $bold

  +bp($stack)
    font-weight: $normal
    border-bottom: 0
    border-left: 0

  *
    font-size: 0.9em

    +bp($tablet)
      font-size: 0.95em

    +bp($desktop)
      font-size: 0.85em

  h1
    font-size: 2.4em
    margin: 0
    padding: 0 0 rv(0) 0


#homepage-splash, 
.section-intro-splash

  figcaption
    top: 0
    position: relative
    color: $white
    padding: rv(-1)
    z-index: 9
    font-style: normal
    font-weight: $bold

    p
      font-size: font-value(-1)
      line-height: font-value(0)

      +bp($stack)
        font-size: font-value(0)
        line-height: font-value(1)


.section-intro-splash
  margin-left: 0
  margin-right: 0
  width: 100%
  max-width: 100%
  position: relative
  display: flex
  flex-direction: column-reverse
  overflow: hidden

  +bp($stack)

  .items
    +splash_area_carousel_left()
    border-bottom-right-radius: $borderRadius
    .resource
      display: grid !important
      grid-template-rows: 1fr fit-content(100%)
      +bp($xxs)
        height: 100%
        padding-bottom: 3rem
  
  .introduction
    +splash_area_title_right()
    background-color: $black

  .introductory-text
    *
      color: $white
    button
      width: 100%
      &:hover
        color: $link_colour

  figure
    position: relative
    overflow: hidden
    height: 100%

    .slideshow-image-wrapper
      height: 100%

    p
      color: $white
    
    a
      display: block
      overflow: hidden
      height: 100%
      width: 100%
      color: $white
      
      img
        filter: grayscale(100%)
        mix-blend-mode: multiply
        object-fit: cover
        height: 340px
        +bp($stack)
          height: unset
    
    figcaption
      position: relative
      top: unset
      padding-top: 0.6rem
      padding-bottom: 0
      max-width: 100%
      text-align: center

  .slick-slide > div
    height: 100%
    min-height: 400px
    width: 100%
    aspect-ratio: 4/3
    +bp($stack)
      aspect-ratio: 16/9

  .slick-next,
  .slick-prev
    z-index: 1000
    top: unset
    bottom: 0.75rem
    width: 20px
    height: 20px
    line-height: normal
    &:after,
    &:before
      font-size: 1.25rem
  .slick-next
    left: 5rem

  .slick-dots
    z-index: 999
    right: -4.5rem !important
    bottom: 0.5rem !important
    left: unset !important
    text-align: right !important
    transform: scale(0.5)
    +bp($xs)
      right: -5rem !important
    +bp($small)
      right: -8rem !important
    +bp($desktop)
      right: -12.5rem !important
    +bp($ultrawide)
      right: -17rem !important

  .slick-autoplay-toggle-button
    z-index: 1000
    bottom: 18px
    left: 2.625rem
    width: auto
    height: 24px
    min-width: auto
    padding: 8px 7px 3px 8px
    opacity: 1
    background-color: $white
    color: $black
    border-radius: 4px
    &:hover,
    &:active,
    &:focus
      background-color: $clr2
      border: none

  &.left
    &:after
      background: $rtl_dark_gradient


.section-intro-splash
  &.right
    .introduction
      border-bottom-left-radius: $borderRadius
.section-intro-splash
  &.left
    .items
      align-self: flex-end
    .introduction
      border-bottom-right-radius: $borderRadius
